<%- include partials/header -%>


<body>

  

   <div class="container">
 
   <div class="row home-wrap">

      <div class="col-sm-8 left-post">

         <div class="div-abt">
            <p style="color:white;">
             <span id="clock"></span>
             
            </p>  
           </div>
         <% posts.forEach(function(post) { %>
            <div class="post flex">
            <div class="post-content">

               <div class="flex postowner">
                  <div>
                     <img src="resources/favicon-32x32.png" alt="" srcset="">
                  </div>
                
                  <p><a href="<%=post.username%>"><%= post.username %> </a></p>
                
               </div>
               <h5><%= post.createat %></h5>
               <%let pt = ""; if(post.title.length>51)  pt = post.title.substring(0,52)+" ..." ;
               else pt = post.title %> 
               <%let pc = ""; if(post.content.length>103)  pc = post.content.substring(0,104)+" ..." ;
               else pc = post.content %>
               <h2 class="title-link">  <a href="/posts/<%=post.title%>" ><%=pt%></a> </h2> 
            
               <p><%= pc %>  
             
               </p> 
               <p><%= post.date %> <%= post.time %> </p>
               
            </div>
            
        
            <div class="post-img">
               <% let purl; if(post.titleimg=="undefine"){  purl="null"; %>
               <img src="resources/favicon-32x32.png" srcset="">
               
               <% } else{ purl=post.titleimg;  %>
                  <img src=<%=purl%> alt="" srcset="">

             <%  } %>
               </div>

            </div>

          <br>
            <% }) %> 
      </div>
     

      </div> 
    </div>
   </div>


   <script>



(function () {

var clockElement = document.getElementById( "clock" );

function updateClock ( clock ) {
  clock.innerHTML = new Date();
}

setInterval(function () {
    updateClock( clockElement );
}, 1000);

}());
   </script>
    <%- include partials/footer -%>
    