<%- include partials/header -%>


<body>

  
<div>
<div class="jumbotron center-div home-search">

   <div class="container">
      <i class="fas fa-search fa-6x"></i>
      <div class="line">
         <div class="loader">
            <div class="loader__element"></div>
         </div>
      </div>
      <blockquote style="font-size:xx-large">"The alchemists in their search for gold discovered many other things of
         greater value."</blockquote>



      <form action="/search" method="post" class="searchForm" autocomplete="off">
         <div class="search-bar">
            <input type="text" name="search" id="search" placeholder="Search..">
            <button type="submit" id="search_btn_main"><i class="fas fa-search fa-1x"></i></button>
         </div>
      </form>


   </div>
</div>

      <div class="jumbotron text-left">

         <div class="div-abt">
            <p style="color:white;">
             <span id="clock"></span>
             
            </p>  
           </div>
         <% homeData.forEach(function(x) { %>
            <div class="post-home flex">
            <div class="post-content">

               <div class="flex postowner">
                  <div>
                     <% let photo; if(x.userdata.photo==undefined) photo="resources/favicon-32x32.png"; else photo=x.userdata.photo; %>
                     <img class="user-dp" src=<%=photo%> alt="" srcset="">
                  </div>
                
                  <p><a href="/profile/<%=x.userdata.username%>"><%= x.userdata.username %> </a></p>
                
               </div>
               <h5><%= x.post.createat %></h5>
               <%let pt = ""; if(x.post.title.length>51)  pt = x.post.title.substring(0,52)+" ..." ;
               else pt = x.post.title %> 
               <%let pc = ""; if(x.post.content.length>103)  pc = x.post.content.substring(0,104)+" ..." ;
               else pc = post.content %>
               <h2 class="title-link">  <a href="/posts/<%=x.post.id%>" ><%=pt%></a> </h2> 
            
               <p id="content-home"><%= pc %>  
             
               </p> 
               <p><%= x.post.date %> <%= x.post.time %> </p>
               
            </div>
            
        
            <div class="post-img">
               <% let purl; if(x.post.titleimg=="undefined"){  purl="null"; %>
               <img src="resources/favicon-32x32.png" srcset="">
               
               <% } else{ purl=x.post.titleimg;  %>
                  <img src=<%=purl%> alt="" srcset="">

             <%  } %>
               </div>

            </div>

          <br>
            <% }) %> 

<nav class="pagination-nav" aria-label="...">
   <ul class="pagination">
      <li class="page-item disabled">
         <a class="page-link" href="#" tabindex="-1">Previous</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item active">
         <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
      </li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
         <a class="page-link" href="#">Next</a>
      </li>
   </ul>
</nav>
      </div>
     

      </div> 
    </div>



   <script>
   function extractTextFromHTML(htmlString) {
      const temporaryElement = document.createElement('div');
      temporaryElement.innerHTML = htmlString;
      return temporaryElement.textContent || temporaryElement.innerText;
   }

   const htmlString = document.getElementById('content-home').innerHTML;
   const textContent = extractTextFromHTML(htmlString);
 

(function () {

var clockElement = document.getElementById( "clock" );

function updateClock ( clock ) {
  clock.innerHTML = new Date();
}

setInterval(function () {
    updateClock( clockElement );
}, 1000);

}());

  document.addEventListener("DOMContentLoaded", function () {
      // Get references to the link and div elements
      var link = document.getElementById("searchButton");
      var div = document.getElementById("home-search");

      // Add a click event listener to the link
      link.addEventListener("click", function (event) {
         event.preventDefault(); // Prevent the link from navigating to a new page

         // Toggle the CSS display property of the div
         if (div.style.display === "none") {
            div.style.display = "block";
         } else {
            div.style.display = "none";
         }
      });
   });

   </script>
    <%- include partials/footer -%>
    