<%- include partials/header -%>


<body>
   <div class="container">
     
   <div class="row home-wrap">

      <div class="col-sm-8 left-post">
         <% posts.forEach(function(post) { %>
            <div  class="post">
               <h2 style="color: black;"> <%= post.title %></h2> 
            
               <p><%= post.content.substring(0,100)+"..."%>  
               <a href="/posts/<%=post.title%>" + post.title> Read more</a> 
               </p> 
            </div>
          <br>
            <% }) %> 
      </div>
      <div class="col-sm-4 right-trend">
         <h2 style="color:black;">trending...</h2>
            
            <% posts.forEach(function(post) { %>
               <div  class="post ">
                  <h2 style="color: black;"> <%= post.title %></h2> 
               
                  <p><%= post.content.substring(0,100)+"..."%>  
                  <a href="/posts/<%=post.title%>" + post.title> Read more</a> 
                  </p> 
               </div>
             <br>
               <% }) %> 

      </div>
    </div>
   </div>
    <%- include partials/footer -%>
    