<%- include partials/header -%>


<body>

  

   <div class="container">
 
   <div class="row home-wrap">

      <div class="col-sm-8 left-post">

         <div class="div-abt">
            <p style="color:white;">
              About ( 35,50,00,000 ) posts on [ nodebus ].
            </p>  
           </div>
         <% posts.forEach(function(post) { %>
            <div class="post flex">
            <div class="post-content">

               <div class="flex postowner">
                  <div>
                     <img src="resources/favicon-32x32.png" alt="" srcset="">
                  </div>
                  <% users.forEach(function(user) { %>
                  <p><%= user %></p>
                  <% }) %> 
               </div>
               <h5><%= post.createat %></h5>

               <h2 class="title-link">  <a href="/posts/<%=post.title%>" + post.title >  <%= post.title %></a> </h2> 
            
               <p><%= post.content.substring(0,100)+"..."%>  
             
               </p> 
               
            </div>
            
        
            <div class="post-img">
                  <img src="resources/favicon-32x32.png" alt="" srcset="">
               </div>

            </div>

          <br>
            <% }) %> 
      </div>
     

      </div> 
    </div>
   </div>
    <%- include partials/footer -%>
    