<%- include partials/header -%>

<body>
  <div class="container">
    
<div class="post-page">
  <div class="postimg">
    <img src=<%=imgurl%> alt="" srcset="">
  </div>

    <h1><%= title %> </h1>
    <pre><%- content %></pre>
</div>

<div class="post-footer">
    <div class="like-bar">
    <table class="bar-table">
      <tr>
        <th>
          <form action="/addLike" method="post">
          <input type="hidden" id="likePost" name="likePost" value=<%=id %>>
          <button class="like-btn"  type="submit"><i class="fas fa-thumbs-up"></i></button>
          </form></th>
        <th><button class="dislike-btn"><i class="fas fa-thumbs-down"></i></button></th>
        <th><button class="share"><i class="fas fa-share"></i></button></th>
      </tr>
      <tr>
        <td style="text-align: center;"><%= likes %></td>
        <td style="text-align: center;"><%= dislikes %></td>
        <td style="text-align: center;"><%= shares %></td>
      </tr>
      
    </table>
       
        
        <div class="comment-bar">
      <input type="text" name="post-comment" id="post-comment" placeholder="comment bar :)">
      <button class="send"><i class="fas fa-reply"></i></button>
        </div>
       <div class="list-comments">
        <ul>
          <% comments.forEach(function(comment){ %>
            <li><%= comment.userComment %> <button class="send"><i class="fas fa-reply"></i></button> </li>
              <ul>
                <% comment.followUp.forEach(function(fup){ %>
                    <li><%= fup.userComment %></li>
                  <% }) %>
              </ul>
          <% }) %>
        </ul>
       </div>
    </div>
   
</div>
</div>


<div class="footer-padding"></div>
  <div class="footer">
    <p>Made with â¤ï¸ by ğ–“ğ–”ğ–‰ğ–Š ğ–‡ğ–šğ–˜ team</p>
  </div>
</div>
<%- include partials/footer -%>
