<%- include partials/header -%>
<body>
	<div class="container">

		<h1>username: <%=username%></h1>
		<p style="color: aliceblue;">email: <%=email%></p>
		<img src=<%=photo%> alt="user image">

		
	</div>


	<
	<%- include partials/footer -%>